.navbar-warning {
    background-color: black;
}

.fas.fa-bars {
    color: #ff0000; 
}


.far.fa-comments {
    color: white; 
}


.far.fa-bell {
    color: white; 
}

.fas.fa-expand-arrows-alt{
    color: white;
}

.fas.fa-sign-out-alt{
    color: red;
}

